* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 62.5%;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
@import "./header/header.scss";
@import "./main-content/main-content.scss";
@import "./footer/footer.scss";
@import "./media-query/media-query.scss"